<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Event Core </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/eventz-master/assets/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/eventz-master/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/eventz-master/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/eventz-master/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/eventz-master/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/eventz-master/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/eventz-master/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/eventz-master/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/eventz-master/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/eventz-master/assets/css/slick.css">
    <link rel="stylesheet" href="~/eventz-master/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/eventz-master/assets/css/style.css">
</head>
<!--? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="~/eventz-master/assets/img/logo/loder.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <!--? Header Start -->
    <div class="header-area">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2 col-md-1">
                        <div class="logo">
                            <a href="/Default/Index" style="font-family: 'Playfair Display', serif; font-size: 2.5rem; font-weight: 1300; color: #415094; text-transform: uppercase;">Event Core</a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10">
                        <div class="menu-main d-flex align-items-center justify-content-end">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="index.html" style="font-size: 1.4rem;">Ana Sayfa</a></li>
                                        <li><a href="about.html" style="font-size: 1.4rem;">Hakkında</a></li>
                                        <li><a href="spakers.html" style="font-size: 1.4rem;">Konuşmacılar</a></li>
                                        <li><a href="schedule.html" style="font-size: 1.4rem;">Takvim</a></li>
                                        <li>
                                            <a href="blog.html" style="font-size: 1.4rem;">Blog</a>
                                            <ul class="submenu">
                                                <li><a href="blog.html" style="font-size: 1.1rem;">Blog</a></li>
                                                <li><a href="blog_details.html" style="font-size: 1.1rem;">Blog Detayları</a></li>
                                                <li><a href="elements.html" style="font-size: 1.1rem;">Element</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html" style="font-size: 1.4rem;">İletişim</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
