<div class="slider-area position-relative">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider slider-height d-flex align-items-center" style="margin-top: -70px;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-9 col-sm-10">
                        <div class="hero__caption">
                            <span data-animation="fadeInLeft" data-delay=".1s">Başarı İnananlarındır</span>
                            <h1 data-animation="fadeInLeft" data-delay=".5s">Herkes İçin Konferans</h1>
                            <!-- Hero-btn -->
                            <div class="slider-btns">
                                <a data-animation="fadeInLeft" data-delay="1.0s" href="industries.html" class="btn hero-btn">Blog</a>
                                <i class="fas fa-play"></i>

                                <a data-animation="fadeInLeft" data-delay="1.0s" href="/AllEvents/Index" class="btn hero-btn">Program</a>
                                <i class="fas fa-play"></i>

                                <a data-animation="fadeInLeft" data-delay="1.0s" href="industries.html" class="btn hero-btn">Konuşmacılar</a>
                                <i class="fas fa-play"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Slider -->
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-9 col-sm-10">
                        <div class="hero__caption">
                            <span data-animation="fadeInLeft" data-delay=".1s">Committed to success</span>
                            <h1 data-animation="fadeInLeft" data-delay=".5s">Digital Conference For Designers</h1>
                            <!-- Hero-btn -->
                            <div class="slider-btns">
                                <a data-animation="fadeInLeft" data-delay="1.0s" href="industries.html" class="btn hero-btn">Download</a>
                                <a data-animation="fadeInRight" data-delay="1.0s" class="popup-video video-btn" href="https://www.youtube.com/watch?v=up68UAfH0d0">
                                    <i class="fas fa-play"></i>
                                </a>
                                <p class="video-cap d-none d-sm-blcok" data-animation="fadeInRight" data-delay="1.0s">Story Vidoe<br> Watch</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>